<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dlcd.testtz886.net/appVersion/iosVersion/5/851/ipa/mike33168s@gmail.com.ipa?t=637989504650850406</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://dlcd.testtz886.net/images/vn/tha_icon.png?t=637989504650850406</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>vn5.ts.mike33168s.app</string>
				<key>bundle-version</key>
				<string>851</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>THA原生测 v851</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
